@model WebShop.ViewModels.HomeViewModel

<div class="container mt-5">
    <h2>Product Index</h2>

    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-4 mt-4">
                <div class="card">
                    <img src="@product.PictureUrl" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title text-truncate overflow-hidden">@product.Name</h5>
                        <p class="card-text">Price: $@product.Price</p>
                        <br />
                        <p class="card-text text-truncate overflow-hidden">Description: @product.Description</p>
                        <br />
                        <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>