@{
    <!DOCTYPE html>
    <html>
    <head>
        <!-- head content -->
    </head>
    <body>
        <div>
            <div>
            <!-- Include Header -->
                @Html.Partial("_Header")
            </div>

            <!-- common footer content -->
            <div>
                @Html.Partial("_Footer") <!-- Include Footer -->
            </div>
        </div>
    </body>
    </html>
}