@model WebShop.ViewModels.HomeViewModel
<h2>Products By Category</h2>
<div class="container mt-5">
    <div class="" style="margin: 2rem;">

        <div class="row mt-4">
            @foreach (var product in Model.Products)
            {
                <div class="col-md-4 mt-4">
                    <div class="card" style="height: 400px">
                        <img src="@product.PictureUrl" class="card-img-top" alt="Product Image" style="height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-title text-truncate">Price: $@product.Price</p>
                            <p class="card-title text-truncate overflow-hidden">Description: @product.Description</p>
                            <br />
                            <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                                View
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>