@model WebShop.ViewModels.HomeViewModel

<h2>Categories</h2>

<ul>
    @foreach (var category in Model.Categories)
    {
        <li>

            <a asp-controller="Category" asp-action="Details" asp-route-Id="@category.Id">
                <h2>@category.Name</h2>
            </a>
        </li>
    }
</ul>