@using WebShop.Models
@model IEnumerable<Category>

@{
    Layout = "/Views/Home/Index.cshtml";
}

<!-- Add the common head content for Category view if needed -->

<div class="container mt-5">
    <h1>Category List</h1>
    <!-- Category-specific content -->
    <table class="table table-bordered">
        <!-- Category table structure -->
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
            </tr>
        }
        </tbody>
    </table>
</div>